.principal {
  position:absolute;
  width: 500px;
  height: 400px;
  text-align: center;
  left: 33%;
  top: 17%;
}

.icon-login{
  height: 38px;
  border-radius: .25rem 0rem 0rem .25rem;
  background-color: white; 
  border-right: 0px;
}

.logar{
  width: 477px;
  margin-top: 10px;
  background-color: #2B516F;
  border-color: #2B516F;
}

.icon{
  color: #2B516F;
}